// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: $font-family-sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

body {
  color: $color-body;
  background-color: $color-bg;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: $color-link;
  text-decoration: none;

  @include on-event {
    text-decoration: underline;
  }
}


img {
  max-width: 100%;
  object-fit: contain;
  position: relative;
}

// Figure elements
figure {
  margin: 2rem 0;
}

figcaption {
  font-size: 80%;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $color-border;
  font-size: 85%;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $color-border;
}

th {
  text-align: left;
}

tbody {
  tr {
    &:nth-child(odd) {
      td {
        background-color: $color-table-odd;
      }

      tr {
        background-color: $color-table-odd;
      }
    }
  }
}
