code,
pre {
  font-family: $font-family-monospace;
}

code {
  padding: .25em .5em;
  border-radius: 3px;
  background-color: $color-code;
  color: $color-body;
  font-size: 85%;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  code {
    padding: 0;
    background-color: transparent;
    color: inherit;
    font-size: 100%;
  }
}
