@import "../styles/variables";
@import "../styles/mixins";

.root {
  height: $header-height;
  padding: 0 $grid-container-padding;
  background-color: $color-brand;
  color: $color-ui-whisper;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.homepageLink {
  color: $color-ui-whisper;
  font-size: 1.5rem;
  font-weight: 600;

  @include on-event {
    text-decoration: none;
  }
}
